@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Image{
  padding-top: 30px;
  padding-bottom: 30px;
}
Label{
  padding-top: 20px;
  padding-bottom: 30px;
}

.addform{
  background-color: antiquewhite;
}
.addform button{
  background-color: rgb(138, 14, 14); 
  border-radius: 50px;
}
.btnadd{
  border: 3px solid rgb(195, 119, 223);
}
Button.-primary {
  font-size: 18;
}
ActionBar {
  background-color: #014231;
  color: #fff;
}

  /* StackLayout.p-4{
    padding: 5px;
  } */
.btn_setting{
  width: 100px;
  height: 100px;
}
.ns-light .item {
  background-color: antiquewhite;
  padding: 20;
  margin: 20px;
  font-size: 20px;
  width: 100%;
  height: auto;
}
.ns-dark .item {
  background-color: #000000;
  padding: 20;
  margin: 20px;
  font-size: 20px;
  width: 100%;
  height: auto;
}

.image{
  width: 400px;
  height: 400px;
}

.ns-light .news_detail_title{
  font-weight: bold;
  color: rgb(15, 15, 80);
  font-size: 30px;
}
.ns-dark .news_detail_title{
  font-weight: bold;
  color: yellow;
  font-size: 30px;
} 


TextView.news_description{
  font-size: 20px;
}
Label.img_describe{
  font-size: 12px;
}

.ns-light .title{
  font-size: 20px;
  color: black;
}

.ns-dark .title{
  font-size: 20px;
  color: white;
}

.ns-light .btn_add{
  background-color: black;
  color: white;
}
.ns-dark .btn_add{
  background-color: black;
  color: white;
}
/* .list-group-item{
  height: fit-content;
} */

.ns-light .list-group{
  width: 100%;
  height: 10000px;
  background-color: antiquewhite;
 }
.ns-dark .list-group{
  width: 100%;
  height: 10000px;
  background-color: rgb(42, 41, 41);
 }
.picker{
  background-color: blanchedalmond;
  color: red;
  border-color: brown;
  border-radius: 20;
  border-width: 2;
  width: 300;
  height: 100;
  vertical-align: middle;
}
Button.btndelete{
  background-color: rgb(138, 14, 14);
}
Button.btnedit{
  background-color: yellowgreen;
}
