@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


Button.-primary {
  font-size: 18;
}
ActionBar {
  background-color: #014231;
  color: #fff;
}

StackLayout.p-4{
  padding: 5px;
}
.btn_setting{
  width: 100px;
  height: 100px;
}
GridLayout.item {
  background-color: antiquewhite;
  padding: 20;
  margin: 20px;
  font-size: 20px;
  height: auto;
}

Image.image{
  width: 80%;
}

Label.news_detail_title{
  font-weight: bold;
}
TextView.news_description{
  font-size: 20px;
}
Label.img_describe{
  font-size: 12px;
}